<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>

    <body>
        <h1 class="text-center">Round {{round}}</h1>
        <table class="table table-bordered text-center" style="font-size:20px;" >
            <thead>
                <tr>
                <td>#</td>
                {%- for r in range[round] %}
                <td>R{{r+1}} VS</td>
                <td>R{{r+1}} Table</td>
                <td>R{{r+1}} VP</td>
                {%- endfor %}
                <td>Sum</td>
                <td>Rank</td>
                </tr>
            </thead>
            <tbody>
                {%- for team in teams %}
                <tr>
                <td>{{ team.team_number }}</td>
                    {%- for rnd in team.rounds %}
                    <td>{{ rnd.opp_team }}</td>
                    <td>{{ rnd.table }}</td>
                    <td>{{ rnd.score }}</td>                    
                    {%- endfor %}
                <td>{{ team.total_score }}</td>
                <td>{{ team.rank }}</td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </body> 
</html>